.habit {
  width: 600px;
  justify-content: space-around;
  position: relative;
  font-size: 30px;
  align-items: center;
  margin-top: 20px;
  padding-left: 5%;
}
.habit .habit-title {
  display: inline-block;
  width: 150px;
  height: 40px;
  text-align: center;
}

.habit .habit-count {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-left: 20px;
}

.habit button {
  border-style: none;
  background-color: antiquewhite;
  font-size: 40px;
  cursor: pointer;
  width: 60px;
  height: 60px;
  margin: 0 20px 0 20px;
}

.habit .habit-add {
  color: rgb(35, 177, 130);
}
.habit .habit-minus {
  color: rgb(146, 54, 54);
}
.habit .habit-delete {
  color: rgb(199, 68, 79);
}
